<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GithubJavaPop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFC71BA21E40153700C4A72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFC71BB61E40153800C4A72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFC71BC11E40153800C4A72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
